/* Lucas: Adicioanar camadas de cores por seção */

.layer1Section {
  position: relative;
  padding: 2rem 0;
  background-color: var(--layer1-color);
  color: var(--text-primary);
  transition: background-color 0.3s ease;
}

.layer2Section {
  position: relative;
  padding: 2rem 0;
  background-color: var(--layer2-color);
  color: var(--text-primary);
  transition: background-color 0.3s ease;
}

.layer3Section {
  position: relative;
  padding: 2rem 0;
  background-color: var(--layer3-color);
  color: var(--text-primary);
  transition: background-color 0.3s ease;
}