/* Lucas: Criar arquivo */
/* components/Carousel.module.css */
.carouselContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
  background-color: var(--bg-primary);
}

.carouselTrack {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 1rem;
  padding: 0 1rem;
}

.carouselTrack::-webkit-scrollbar {
  display: none;
}

.navButton {
  background-color: var(--button-bg-default);
  color: var(--button-text-default);
  border: 1px solid var(--button-border);
  padding: 0.5rem 1rem;
  font-size: var(--fs-lg);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.navButton:hover {
  background-color: var(--button-bg-hover);
  color: var(--button-text-hover);
}
